input::-webkit-calendar-picker-indicator {
            opacity:100;
}
.i1{
    text-align: center;
}

#sel{
    width:230px;
    border:2px solid black;
}


.container{
 float:left;
 margin-left:13px;
    min-height:400px;
    height:auto;
width:auto;
min-width:1200px;
position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
.table{
    font-weight:bold;
    font-size:19px;
    width:100%;
    
}
.c{
        border:5px solid black;
    height:400px;
    width:500px;
    position: absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
input{
    text-align: center;
    border:2px solid black;
    font-weight: bold;
    font-size:19px;
}
input::-webkit-calendar-picker-indicator {
opacity:100;
}
            .btn{
                font-size: 19px;
                font-weight: bold;
                width:100px;
            }
            .btn:hover{
                border:3px solid black;
            }
            #a1{
                text-decoration: none;
            }